########################################
# ===== ASP.NET Core / .NET =====
########################################

# Build folders
bin/
obj/
out/
artifacts/

# Visual Studio
.vs/
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates

# Logs
*.log

# Environment files
.env
appsettings.Development.json

# NuGet
*.nupkg
packages/


########################################
# ===== Flutter / Dart =====
########################################

# Dart tool
.dart_tool/
.packages
.pub/
build/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.generated_plugin_registrant.dart

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties
*.jks

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework

# macOS
**/macos/Flutter/ephemeral/

# Windows
**/windows/flutter/generated_plugin_registrant.*

# Linux
**/linux/flutter/generated_plugin_registrant.*


########################################
# ===== VS Code =====
########################################

.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json


########################################
# ===== OS Files =====
########################################

.DS_Store
Thumbs.db