BCrypt.Net-Next (4.1.0)
MailKit (4.15.1)
Microsoft.AspNetCore.Authentication.JwtBearer (10.0.3)
Microsoft.AspNetCore.Identity.EntityFrameworkCore (10.0.3)
Microsoft.AspNetCore.OpenApi (10.0.3)
Microsoft.EntityFrameworkCore.SqlServer (10.0.3)
Microsoft.EntityFrameworkCore.Tools (10.0.3)
Swashbuckle.AspNetCore (10.1.4)
Twilio (7.14.3)
Twilio.AspNetCore (8.1.2)